@import url('https://fonts.cdnfonts.com/css/minecraftia');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
.minecraft {
    background: rgb(127,255,0);
    background: linear-gradient(90deg, rgba(127,255,0,1) 0%, rgba(2,194,13,1) 35%, rgba(0,255,216,1) 100%);
    display: flex;
    justify-content: center;
}
.minecraft-image {
    width: 250px;
    height: 300px;
    margin-top: 230px;
}
.minecraft-start {
    padding-top: 250px;
    padding-bottom: 250px;
    margin-left: 50px;
}
.minecraft-title {
    font-family: 'Minecraftia', sans-serif;
    font-size: 70px;
    text-align: center;
}
.minecraft-text {
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    text-align: center;
}
.about-game {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
}
.about-game-image {
    height: 400px;
    width: 300px;
    margin-right: 40px;
    border-radius: 20px;
}
.about-game-title {
    font-family: 'Ubuntu', sans-serif;
}
.about-game-texts {
    padding-top: 30px;
}
.about-game-text1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}
.about-game-text2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
}
.create-history {
    background: rgb(166,255,0);
    background: linear-gradient(90deg, rgba(166,255,0,1) 0%, rgba(0,255,113,1) 100%); 
}
.create-history-start {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
}
.create-history-title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 56px;
}
.create-history-text1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}
.create-history-text2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}
.minecraft-classic {
    background-image: url('./images/classic.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 100px;
    margin-bottom: 100px;
}
.minecraft-classic-start {
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
}
.minecraft-classic-title {
    text-align: center;
    font-family: 'Minecraftia', sans-serif;
    font-size: 56px;
}
.minecraft-classic-text {
    text-align: center;
    font-family: 'ubuntu', sans-serif;
    font-weight: bold;
    color: black;
    font-size: 30px;
}
.minecraft-classic-cards {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 100px;
}
.minecraft-classic-card1 {
    margin-right: 20px;
    border: 3px solid black;
    border-radius: 10px;
    background: rgb(88,58,8);
    background: linear-gradient(0deg, rgba(88,58,8,1) 0%, rgba(57,113,45,1) 50%, rgba(34,190,0,1) 100%);
    font-family: 'Ubuntu', sans-serif;
    color: white;
    padding: 10px;
}
.minecraft-classic-text1 {
    font-size: 20px;
    text-align: center;
}
.minecraft-classic-text2 {
    font-size: 15px;
}
.minecraft-indev {
    background-image: url('./images/indev.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;
}
.minecraft-indev-start {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
}
.minecraft-indev-title {
    font-family: 'Minecraftia', sans-serif;
    font-size: 56px;
    color: red;
}
.minecraft-indev-text{
    text-align: center;
    font-family: 'ubuntu', sans-serif;
    font-weight: bold;
    color: black;
    font-size: 30px;
}
.minecraft-indev-cards {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 100px;
}
.minecraft-indev-card {
    margin-right: 20px;
    border: 3px solid black;
    border-radius: 10px;
    background: rgb(88,58,8);
    background: linear-gradient(0deg, rgba(88,58,8,1) 0%, rgba(57,113,45,1) 50%, rgba(34,190,0,1) 100%);
    font-family: 'Ubuntu', sans-serif;
    color: white;
    padding: 10px;
}
.minecraft-indev-text1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}
.minecraft-indev-text2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}
.minecraft-alpha {
    background-image: url('./images/alpha.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;
}
.minecraft-alpha-start {
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
}
.minecraft-alpha-title {
    text-align: center;
    font-family: 'Minecraftia', sans-serif;
    font-size: 56px;
}
.minecraft-alpha-text {
    text-align: center;
    font-family: 'ubuntu', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 30px;
}
.minecraft-alpha-cards {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 100px;
}
.minecraft-alpha-card1 {
    margin-right: 20px;
    border: 3px solid black;
    border-radius: 10px;
    background: rgb(88,58,8);
    background: linear-gradient(0deg, rgba(88,58,8,1) 0%, rgba(57,113,45,1) 50%, rgba(34,190,0,1) 100%);
    font-family: 'Ubuntu', sans-serif;
    color: white;
    padding: 10px;
}
.minecraft-alpha-text1 {
    font-size: 15px;
    text-align: center;
}
.minecraft-alpha-text2 {
    font-size: 12px;
}
.minecraft-beta {
    background-image: url('./images/beta.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;
}
.minecraft-beta-start {
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
}
.minecraft-beta-title {
    text-align: center;
    font-family: 'Minecraftia', sans-serif;
    font-size: 56px;
}
.minecraft-beta-text {
    text-align: center;
    font-family: 'ubuntu', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 30px;
}
.minecraft-beta-cards {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 100px;
}
.minecraft-beta-card1 {
    margin-right: 20px;
    border: 3px solid black;
    border-radius: 10px;
    background: rgb(88,58,8);
    background: linear-gradient(0deg, rgba(88,58,8,1) 0%, rgba(57,113,45,1) 50%, rgba(34,190,0,1) 100%);
    font-family: 'Ubuntu', sans-serif;
    color: white;
    padding: 10px;
}
.minecraft-beta-text1 {
    font-size: 20px;
    text-align: center;
}
.minecraft-beta-text2 {
    font-size: 15px;
}
.minecraft-release {
    background-image: url('./images/release.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;
}
.minecraft-release-start {
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
}
.minecraft-release-title {
    text-align: center;
    font-family: 'Minecraftia', sans-serif;
    font-size: 56px;
    color: black;
}
.minecraft-release-text {
    text-align: center;
    font-family: 'ubuntu', sans-serif;
    font-weight: bold;
    color: black;
    font-size: 30px;
}
.minecraft-release-cards {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 100px;
}
.minecraft-release-card1 {
    margin-right: 20px;
    border: 3px solid black;
    border-radius: 10px;
    background: rgb(88,58,8);
    background: linear-gradient(0deg, rgba(88,58,8,1) 0%, rgba(57,113,45,1) 50%, rgba(34,190,0,1) 100%);
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    color: white;
    padding: 10px;
}
.minecraft-release-text1 {
    font-size: 20px;
    text-align: center;
}
.minecraft-release-text2 {
    font-size: 15px;
}
.minecraft-bedrock {
    background-image: url('./images/bedrock.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.minecraft-bedrock-start {
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
}
.minecraft-bedrock-title {
    text-align: center;
    font-family: 'Minecraftia', sans-serif;
    font-size: 56px;
    color: white;
}
.minecraft-bedrock-text {
    text-align: center;
    font-family: 'ubuntu', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 30px;
}
.minecraft-bedrock-cards {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 100px;
}
.minecraft-bedrock-card1 {
    margin-right: 20px;
    border: 3px solid black;
    border-radius: 10px;
    background: rgb(88,58,8);
    background: linear-gradient(0deg, rgba(88,58,8,1) 0%, rgba(57,113,45,1) 50%, rgba(34,190,0,1) 100%);
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    color: white;
    padding: 10px;
}
.minecraft-bedrock-text1 {
    font-size: 20px;
    text-align: center;
}
.minecraft-bedrock-text2 {
    font-size: 15px;
}
footer {
    background-color: black;
    color: white;
    padding: 50px 20px 50px 20px;
}
footer > h2 {
    font-family: 'Minecraftia', sans-serif;
}
footer > p {
    font-family: 'Ubuntu', sans-serif;
}
footer > a {
    color: skyblue;
}