@import url('https://fonts.cdnfonts.com/css/minecraft-4');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
.Minecraft {
    background: rgb(127,255,0);
    background: linear-gradient(90deg, rgba(127,255,0,1) 0%, rgba(2,194,13,1) 35%, rgba(0,255,216,1) 100%);
}
.Minecraft-start {
    padding-top: 250px;
    padding-bottom: 250px;
}
.Minecraft-title {
    font-family: Minecraft, sans-serif;
    font-size: 70px;
    text-align: center;
}
.Minecraft-text {
    font-family: 'Minecraft', sans-serif;
    font-size: 25px;
    text-align: center;
}
.about-game {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
}
.about-game-image {
    height: 400px;
    width: 300px;
    margin-right: 20px;
}
.about-game-title {
    font-family: 'Minecraft', sans-serif;
}
.about-game-text1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}
.about-game-text2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
}
.create-history {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(138,158,10,1) 50%, rgba(230,152,60,1) 100%);
}
.create-history-start {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
}
.create-history-title {
    font-family: 'Minecraft', sans-serif;
    font-size: 56px;
}
.create-history-text1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}
.create-history-text2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}
.Minecraft-classic {
    background-image: url('./images/Classic.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
}
.Minecraft-classic-start {
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
}
.Minecraft-classic-title {
    text-align: center;
    font-family: 'Minecraft', sans-serif;
    font-size: 56px;
}
.Minecraft-classic-text {
    text-align: center;
    font-family: 'ubuntu', sans-serif;
    font-weight: bold;
    color: white;
}
.Minecraft-classic-cards {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 100px;
}
.Minecraft-classic-card1 {
    margin-right: 20px;
    border: 3px solid black;
    border-radius: 10px;
    background: rgb(88,58,8);
    background: linear-gradient(0deg, rgba(88,58,8,1) 0%, rgba(57,113,45,1) 50%, rgba(34,190,0,1) 100%);
    font-family: 'Ubuntu', sans-serif;
    color: white;
    padding: 10px;
}
.Minecraft-classic-text1 {
    font-size: 20px;
    text-align: center;
}
.Minecraft-Classic-text2 {
    font-size: 15px;
}
.Minecraft-indev {
    background-image: url('./images/indev.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.Minecraft-indev-start {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
}
.Minecraft-indev-title {
    font-family: 'Minecraft', sans-serif;
    font-size: 56px;
    color: red;
}
.Minecraft-indev-text{
    text-align: center;
    font-family: 'ubuntu', sans-serif;
    font-weight: bold;
    color: white;
}
.Minecraft-indev-cards {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 100px;
}
.Minecraft-indev-card {
    margin-right: 20px;
    border: 3px solid black;
    border-radius: 10px;
    background: rgb(88,58,8);
    background: linear-gradient(0deg, rgba(88,58,8,1) 0%, rgba(57,113,45,1) 50%, rgba(34,190,0,1) 100%);
    font-family: 'Ubuntu', sans-serif;
    color: white;
    padding: 10px;
}
.Minecraft-indev-text1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}
.Minecraft-indev-text2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}
.Minecraft-alpha {
    background-image: url('/images/alpha.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.Minecraft-alpha-start {
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
}
.Minecraft-alpha-title {
    text-align: center;
    font-family: 'Minecraft', sans-serif;
    font-size: 56px;
}
.Minecraft-alpha-text {
    text-align: center;
    font-family: 'ubuntu', sans-serif;
    font-weight: bold;
    color: white;
}
.Minecraft-alpha-cards {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 100px;
}
.Minecraft-alpha-card1 {
    margin-right: 20px;
    border: 3px solid black;
    border-radius: 10px;
    background: rgb(88,58,8);
    background: linear-gradient(0deg, rgba(88,58,8,1) 0%, rgba(57,113,45,1) 50%, rgba(34,190,0,1) 100%);
    font-family: 'Ubuntu', sans-serif;
    color: white;
    padding: 10px;
}
.Minecraft-alpha-text1 {
    font-size: 15px;
    text-align: center;
}
.Minecraft-alpha-text2 {
    font-size: 12px;
}
.Minecraft-beta {
    background-image: url('/images/beta.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.Minecraft-beta-start {
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
}
.Minecraft-beta-title {
    text-align: center;
    font-family: 'Minecraft', sans-serif;
    font-size: 56px;
}
.Minecraft-beta-text {
    text-align: center;
    font-family: 'ubuntu', sans-serif;
    font-weight: bold;
    color: white;
}
.Minecraft-beta-cards {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 100px;
}
.Minecraft-beta-card1 {
    margin-right: 20px;
    border: 3px solid black;
    border-radius: 10px;
    background: rgb(88,58,8);
    background: linear-gradient(0deg, rgba(88,58,8,1) 0%, rgba(57,113,45,1) 50%, rgba(34,190,0,1) 100%);
    font-family: 'Ubuntu', sans-serif;
    color: white;
    padding: 10px;
}
.Minecraft-beta-text1 {
    font-size: 20px;
    text-align: center;
}
.Minecraft-beta-text2 {
    font-size: 15px;
}
.Minecraft-release {
    background-image: url('/images/release.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.Minecraft-release-start {
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
}
.Minecraft-release-title {
    text-align: center;
    font-family: 'Minecraft', sans-serif;
    font-size: 56px;
    color: black;
}
.Minecraft-release-text {
    text-align: center;
    font-family: 'ubuntu', sans-serif;
    font-weight: bold;
    color: black;
}
.Minecraft-release-cards {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 100px;
}
.Minecraft-release-card1 {
    margin-right: 20px;
    border: 3px solid black;
    border-radius: 10px;
    background: rgb(88,58,8);
    background: linear-gradient(0deg, rgba(88,58,8,1) 0%, rgba(57,113,45,1) 50%, rgba(34,190,0,1) 100%);
    font-family: 'Ubuntu', sans-serif;
    color: white;
    padding: 10px;
}
.Minecraft-release-text1 {
    font-size: 20px;
    text-align: center;
}
.Minecraft-release-text2 {
    font-size: 15px;
}
.Minecraft-bedrock {
    background-image: url('/images/bedrock.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.Minecraft-bedrock-start {
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
}
.Minecraft-bedrock-title {
    text-align: center;
    font-family: 'Minecraft', sans-serif;
    font-size: 56px;
    color: white;
}
.Minecraft-bedrock-text {
    text-align: center;
    font-family: 'ubuntu', sans-serif;
    font-weight: bold;
    color: white;
}
.Minecraft-bedrock-cards {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 100px;
}
.Minecraft-bedrock-card1 {
    margin-right: 20px;
    border: 3px solid black;
    border-radius: 10px;
    background: rgb(88,58,8);
    background: linear-gradient(0deg, rgba(88,58,8,1) 0%, rgba(57,113,45,1) 50%, rgba(34,190,0,1) 100%);
    font-family: 'Ubuntu', sans-serif;
    color: white;
    padding: 5px;
}
.Minecraft-bedrock-text1 {
    font-size: 20px;
    text-align: center;
}
.Minecraft-bedrock-text2 {
    font-size: 15px;
}
footer {
    background-color: black;
    color: white;
    padding: 50px 20px 50px 20px;
}
footer > h2 {
    font-family: 'Minecraft', sans-serif;
}
footer > p {
    font-family: 'Ubuntu', sans-serif;
}
footer > a {
    color: skyblue;
}